@charset "UTF-8";


/* Geral */
* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}


.button-ver  {
    background-color: #5e17eb;
    border: 0px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    padding: 5px 40px;
}

.button-ver:hover {
    transition: .5s;
    background-color: #ffcc00;
}

 
/*Menu*/

.inicio{
    display: flex;
    justify-content: space-around;
    margin: 20px 4%;
}

.inicio .flex {
    display: flex;
}

.inicio-img img {
    width: 150px;
    
}

.inicio-menu {
    background-color: white;

}

.inicio-menu > a {
    text-decoration: none;
    color: #5e17eb;
    padding-left: 20px;
    
}


/*Mobile*/

.menu-mobile {
    display: none;
}

#menu {
    display: none;
}


/*PADRÃO*/


/* Banner */

.banner-img img {
    width: 100%;
    height: 50%;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*COME*/    

.come .flex {
    display: flex;
    justify-content: space-around;
}

.come-img img {
    width: 300px;
}


/*Novidades*/

.sessao h2 {
    color: #5e17eb;
    text-align: center;
    margin-bottom: 70px;
}

.novidades {
    padding: 80px 4px;
}

.novidades .flex {
    display: flex;
    justify-content: space-around;
}

.novidades-img img {
    width: 300px;
}

.novidades-sub s {
    color: rgba(0, 0, 0, 0.329);
}

.star {
    margin-bottom: 35px;
}

.camisa {
    text-align: center;
}

.calça {
    text-align: center;
}

.saia {
    text-align: center;
}

.sapato {
    text-align: center;
}


/*Banner 2*/

.banner2 {
    text-align: center;
    padding: 55px 4%;
}

.banner2-img img {
    width: 1100px;
    height: 500px;
    border-radius: 15px;
    
}

/* Final */

.final {
    background-color: #ffcc00;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    gap: 30px 10px;
    padding: 50px;
}

li {
    list-style-type: none;
}

.final-img {
    width: 200px;
}

.final-primeiro {
    color: #5e17eb;
}

.final-primeiro-h4 {
    padding-bottom: 5px;
}

.final-primeiro-ul > li > a { 
    color: black;
    text-decoration: none;
       
}

.final-segundo {
    color: #5e17eb;
}

.final-segundo-h4 {
    padding-bottom: 5px;
}

.final-segundo-ul > li > a { 
    color: black;
    text-decoration: none;
}

.final-terceiro {
    color: #5e17eb;
}

.final-terceiro-h4 {
    padding-bottom: 5px;
}

.final-terceiro-ul > li > a{
    color: black;
    text-decoration: none;
    
}

.final-botao {
    display: block;
    
}



/* Fundo do Site */
hr {
    background-color: black;
}
footer{
    background-color: #ffcc00;
    text-align: center;
    padding: 50px;
    
}

footer > strong > a {
    color: black;
}



@media (max-width: 579px){
   
    .inicio-menu {
        display: none;
    }

    #menu {
        display: block;
        font-size: 34px;
    }

    .come-img img {
        width: 90px;
    }

    .novidades .flex {
        display: block;
    }

    .novidades-img img {
        margin-top: 20px;
    }

    .banner2-img img {
        width: 100%;
        height: 250px;
        border-radius: 15px;
    
    }
    .final {
        display: block;
    }

    .final-primeiro {
        margin-top: 20px;
    }

    .final-segundo {
        margin-top: 20px;
    }

    .final-terceiro {
        margin-top: 20px;
    }
}